<h2>Skills</h2>

<div class="row">
    <ul>
        {% for skills in site.skills|batch(site.skills|length / 2) %}
            <span class="col-md-6">
                {% for skill in skills %}
                    <li>
                        {{ skill.name }} - {{ site.skill_levels[skill.level] }}
                    </li>
                {% endfor %}
            </span>
        {% endfor %}
    </ul>
</div>

<hr>
